<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloudico</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/cloudico.css">

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
    <body>
    {% block register %}
        <div class="modal">
            <div class="row space_between">
                <h2>Pour pouvoir profier pleinement
                    de notre application inscriver vous.</h2>
                <button><img src="/images/cross.png" alt="Fermer la fenêtre"></button>
            </div>
            <div class="row space_between">
                <button class="button_green_sm">
                    <a href="">Inscription</a>
                </button>
                <button class="button_bg_none">
                    <a href="">Connexion</a>
                </button>
            </div>
            <form class="form" action="">
                <input type="text" placeholder="Pseudonyme">
                <input type="email" placeholder="Mail">
                <input type="password" placeholder="Mot de passe">
                <div class="column align-center">
                    <button type="submit" class="button_blue_sm big_button">
                        <a href="">Valider</a>
                    </button>
                </div>
            </form>
        </div>
    {% endblock %}
    {% block body %}{% endblock %}

    {% block nav %}
        <nav>
            <ul>
                <li>
                    <a href="/community"><img src="/images/community.png" alt="community"></a>
                </li>
                <li class="logo">
                    <a href="/"><img src="/images/logo.png" alt="Cloudico logo"></a>
                </li>
                <li>
                    <a href="/profile"><img src="/images/mycloud.png" alt="my cloud"></a>
                </li>
            </ul>
        </nav>
    {% endblock %}
    {% block js %}{% endblock %}
    </body>
</html>