{% extends 'base.twig' %}

{% block body %}
    <main class="container">
        <div class="row align-center mb15">
            <div class="img_profile">
                <img src="/images/profile.jpg" alt="Image de profile">
            </div>
            <p class="big ml20">Jarjarbins</p>
        </div>
        <div class="row space_between">
            <button id="myCloud" class="button_green_sm">
                <a href="">Mon nuage</a>
            </button>
            <button id="myInfo" class="button_bg_none">
                <a href="">Mes infos</a>
            </button>
        </div>
        <section id="Cloud" class="container_card">
            <div class="card_def row space_between align-center">
                <div>
                    <h2>JavaScript</h2>
                    <p class="type">(nom)</p>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab incidunt
                        necessitatibus nemo quaerat unde</p>
                </div>
                <div class="next">
                    <img src="/images/next.png" alt="next">
                </div>
            </div>
            <div class="card_def row space_between align-center">
                <div>
                    <h2>JavaScript</h2>
                    <p class="type">(nom)</p>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab incidunt
                        necessitatibus nemo quaerat unde</p>
                </div>
                <div class="next">
                    <img src="/images/next.png" alt="next">
                </div>
            </div>
            <div class="card_def row space_between align-center">
                <div>
                    <h2>JavaScript</h2>
                    <p class="type">(nom)</p>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab incidunt
                        necessitatibus nemo quaerat unde</p>
                </div>
                <div class="next">
                    <img src="/images/next.png" alt="next">
                </div>
            </div>
        </section>
        <section id="Info" class="column justify_center d_none">
            <form class="form" action="">
                <input type="text">
                <input type="text">
                <div class="container_buttons_profile">
                    <button class="button_green_sm big_button">
                        <a href="">Mon nuage</a>
                    </button>
                    <button class="button_violet_sm big_button">
                        <a href="">Mes infos</a>
                    </button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}
{% block js %}
    <script>
        document.querySelector('#myInfo').addEventListener('click', function (e) {
            e.preventDefault()
            document.querySelector('#Cloud').classList.add('d_none')
            document.querySelector('#Info').classList.remove('d_none')
            document.querySelector('#Info').classList.add('d_block')

            document.querySelector('#myCloud').classList.remove('button_green_sm')
            document.querySelector('#myCloud').classList.add('button_bg_none')
            document.querySelector('#myInfo').classList.remove('button_bg_none')
            document.querySelector('#myInfo').classList.add('button_green_sm')
        })
    </script>
{% endblock %}