{% extends 'base.twig' %}

{% block body %}
    <main class="container">
        <div class="row space_between mb15 align-center">
            <button onclick="goBack()"><img src="/images/prev.png" alt=""></button>
            <a id="profile" href="/profile"><img src="/images/account.png" alt="Compte"></a>
        </div>
        <div class="green_line">
            <h3>{{ demande.name }}</h3>
            <p class="type mb20">({{ demande.type }})</p>
        </div>
        <section class="container_tags">
            <div class="tags_cloud">
                <div class="mr15">
                    <div class="img_radius cloud_mobile small_image">
                        <p class="sm_cloud_title">Mobile</p>
                    </div>
                </div>
                <div class="mr15">
                    <div class="img_radius cloud_mobile small_image">
                        <p class="sm_cloud_title">Mobile</p>
                    </div>
                </div>
                <div class="mr15">
                    <div class="img_radius cloud_mobile small_image">
                        <p class="sm_cloud_title">Mobile</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb70">
            <article class="container_definition">
                <p class="text">{{ demande.definition }}</p>
            </article>
            <div class="column align-center">
                <button class="button_blue_sm big_button">
                    <a href="">Valider l'ajout</a>
                </button>
            </div>
        </section>
    </main>
{% endblock %}
{% block js %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}