/******* Margin *******/


.mx5{
  margin: 5px;
}

/* Top */
/****/

/* Bottom */
.mb15{
  margin-bottom: 15px;
}

.mb20{
  margin-bottom: 20px;
}

.mb70{
  margin-bottom: 70px;
}
/****/

/* Right */
.mr10{
  margin-right: 10px;
}

.mr15{
  margin-right: 15px;
}
/****/

/* Left */
.ml10{
  margin-left: 10px;
}
.ml20{
  margin-left: 20px;
}
/****/


/******* Padding *******/